/* Import base styles */
@import url('./style.css');

/* Hide resize handles on images in lightbox gallery (allowResize context is false) */
.wp-block-lightbox-gallery-gallery .wp-block-image .components-resizable-box__handle {
	display: none !important;
}

.wp-block-lightbox-gallery-gallery .wp-block-image .components-resizable-box__container {
	display: block;
}

/* Make InnerBlocks container full width */
.wp-block-lightbox-gallery-gallery .block-editor-inner-blocks {
	width: 100%;
}

