/* Gallery grid */

.wp-block-lightbox-gallery-gallery .block-editor-inner-blocks {
	width: 100%;
}

.wp-block-lightbox-gallery-gallery .wp-block-image {
	aspect-ratio: 1 / 1;
	flex-shrink: 1;
	flex-basis: calc(25% - var(--wp--style--block-gap, 0.5em) * 0.75);
}

.wp-block-lightbox-gallery-gallery .wp-block-image > div {
	height: 100%;
}

.wp-block-lightbox-gallery-gallery .wp-block-image a {
	width: 100%;
	height: 100%;
}

.wp-block-lightbox-gallery-gallery .wp-block-image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.wp-block-lightbox-gallery-gallery .wp-block-image figcaption {
	display: none;
}

@media (max-width: 768px) {
	.wp-block-lightbox-gallery-gallery .wp-block-image {
		flex-basis: calc(50% - var(--wp--style--block-gap, 0.5em) * 0.5);
	}
}

@media (max-width: 480px) {
	.wp-block-lightbox-gallery-gallery .wp-block-image {
		flex-basis: 100%;
	}
}

/* Gallery overlay */

.wp-block-lightbox-gallery-overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.9);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 10000;
	padding: 1.5rem 5rem;
}

.wp-block-lightbox-gallery-overlay .image-wrapper {
	max-width: 100%;
	max-height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.wp-block-lightbox-gallery-overlay img {
	overflow: hidden;
	max-width: 100%;
	max-height: 100%;
}

.wp-block-lightbox-gallery-overlay figcaption:not(:empty) {
	color: #fff;
	text-align: center;
	padding-top: 1rem;
}

/* Gallery overlay buttons */

.wp-block-lightbox-gallery-overlay .lightbox-button {
	position: absolute;
	width: 3rem;
	height: 3rem;
	background: transparent;
	cursor: pointer;
	border: 0;
	border-radius: 0.25rem;
}

.wp-block-lightbox-gallery-overlay .lightbox-button:hover {
	background: rgba(255, 255, 255, 0.2);
}

.wp-block-lightbox-gallery-overlay span {
	position: absolute;
	background: #fff;
	border-radius: 0.125rem;
}

.wp-block-lightbox-gallery-overlay .lightbox-close {
	top: 1rem;
	right: 1rem;
}

.wp-block-lightbox-gallery-overlay .lightbox-close span {
	left: 50%;
	top: 50%;
	height: 0.175rem;
	width: 2.25rem;
}

.wp-block-lightbox-gallery-overlay .lightbox-close span:first-child {
	transform: translate(-50%, -50%) rotate(45deg);
}

.wp-block-lightbox-gallery-overlay .lightbox-close span:last-child {
	transform: translate(-50%, -50%) rotate(-45deg);
}

.wp-block-lightbox-gallery-overlay .lightbox-prev {
	left: 1rem;
}

.wp-block-lightbox-gallery-overlay .lightbox-next {
	right: 1rem;
	transform-origin: center center;
	transform: scaleX(-1);
}

.wp-block-lightbox-gallery-overlay .lightbox-nav span {
	left: 50%;
	top: 50%;
	height: 0.175rem;
	width: 1.275rem;
	transform-origin: left center;
}

.wp-block-lightbox-gallery-overlay .lightbox-nav span:first-child {
	transform: translate(-50%, -50%) translateX(.175rem) translateY(0.0575rem) rotate(-45deg);
}

.wp-block-lightbox-gallery-overlay .lightbox-nav span:last-child {
	transform: translate(-50%, -50%) translateX(.175rem) translateY(-0.0575rem) rotate(45deg);
}
