.wp-block-lightbox-gallery-gallery .block-editor-inner-blocks {
	width: 100%;
}

.wp-block-lightbox-gallery-gallery .wp-block-image {
	aspect-ratio: 1 / 1;
	flex-shrink: 1;
	flex-basis: calc(25% - var(--wp--style--block-gap, 0.5em) * 0.75);
}

.wp-block-lightbox-gallery-gallery .wp-block-image > div {
	height: 100%;
}

.wp-block-lightbox-gallery-gallery .wp-block-image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

@media (max-width: 768px) {
	.wp-block-lightbox-gallery-gallery .wp-block-image {
		flex-basis: calc(50% - var(--wp--style--block-gap, 0.5em) * 0.5);
	}
}

@media (max-width: 480px) {
	.wp-block-lightbox-gallery-gallery .wp-block-image {
		flex-basis: 100%;
	}
}
